@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");


.navbar{
   margin-bottom: 20px;
   
}
.card-img-top{
    width: 200vh;
    height: 50vh;
    
   
}


.card .card-body {
   position: relative;
   background: rgba(0, 0, 0, 0.8);
   text-align: center;
   color: aliceblue;
   font-size: 20px;
   padding: 20px;
  
   
   
}

.card-h-20 .card-body{
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: aliceblue;
    padding: 20px;
   
   

}